<app-github-users></app-github-users>
<!-- <app-user-details
  userName="asdfa"
  [userDetails]="student1Details"
></app-user-details> -->
<!-- <img src="https://i.imgur.com/XgbZdeA.jpeg" /> -->
<!-- <app-user-details [userName]="student1"></app-user-details>
<app-user-details userName="{{ student2 }}"></app-user-details> -->

<!-- 
<input type="text" /> -->

<!-- <h1 [ngClass]="classes">{{ title }}</h1>
<h1 [ngStyle]="styles">Trial</h1>


{{ value }}

<input type="text" [(ngModel)]="value" (keyup.enter)="onSearch()" />

<button (click)="onUpdateValue()">Update Value</button>

<button (click)="onSearch()">Search</button>

<img [src]="imgUrl" height="100" />
<img src="{{ imgUrl }}" height="100" />

<div class="container">
  <div
    class="card"
    *ngFor="
      let u of filteredUsers;
      let first = first;
      let last = last;
      let even = even;
      let odd = odd;
      let index = index
    "
  >
    <h3>
      Index: {{ index }} <br />
      First: {{ first }} <br />
      Last: {{ last }} <br />
      Even: {{ even }} <br />
      Odd: {{ odd }}
    </h3>
    <h2>Name: {{ u.name }}</h2>
    <p>Age: {{ u.age }}</p>
    <button (click)="onSelectUser(u)">View Details</button>
  </div>
</div>

<div *ngIf="selectedUser">
  <h1>Selected User</h1>
  <h2>Name: {{ selectedUser.name }}</h2>
  <p>Age: {{ selectedUser.age }}</p>
</div> -->
